# Copyright (c) 2014-2017 mudpy authors. Permission to use, copy,
# modify, and distribute this software is granted under terms
# provided in the LICENSE file distributed with this software.

*.egg-info/
*.egg/
.eggs/
.tox/
AUTHORS
ChangeLog
build/
capture_*.log
data/
dist/
mudpy/__pycache__/
mudpy/tests/__pycache__/
var/
