---
# Copyright (c) 2018-2019 mudpy authors. Permission to use, copy,
# modify, and distribute this software is granted under terms
# provided in the LICENSE file distributed with this software.

extends: default
rules:
  line-length:
    allow-non-breakable-inline-mappings: true
